:root {
    text-size-adjust: 100%;
}

body, html {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    height: 100%;
}

.logo {
    background-image: url('image/goku.png');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

.note-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: black, solid, 0.1rem;
    width: fit-content;
    max-width: 50rem;
    z-index: attr(data-z-index);

    .drag-handle, 
    .title {
        background-color: whitesmoke;
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: grab;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}