// GENERAL
:root {
    // Main
    --primary: #2B6CB0;
    --primary-light: #4299E1;

    // Neutral
    --background: #F7FAFC;
    --surface: #FFFFFF;
    --border: #E2E8F0;  

    // Text
    --text-primary: #2D3748;
    --text-secondary: #718096;  

    // Accent
    --accent: #38B2AC;        // Teal - for highlights/focus states
    --accent-light: #4FD1C5;  // Light teal - for hover states
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: "Roboto", sans-serif;
    height: 100%;
}

#loading-screen {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
}

.icon {
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
        color: var(--accent-light);
    }
}



// NOTE COMPONENT
.note {
    position: absolute;
    display: flex;
    flex-direction: column;
    word-break: break-all;
    background-color: var(--background);
    border: black, solid, 0.1rem;
    border-radius: 0.5rem;
    max-width: 25rem;
    gap: 1rem;

    .toolbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 1rem 0rem 1rem;
        gap: 1rem;
        font-size: 2rem;  // For icons
      
        .icon.drag-handle {
            cursor: move;
    
            &:active {
                cursor: grabbing;
            }

            &:hover {
                color: var(--accent-light);
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0rem 1rem 1rem 1rem;

        .title {
            text-align: center;
            font-size: 3rem;
        }
    }
}

.masthead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 1rem;
    height: 4rem;
    background-color: var(--primary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .noteinput {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        max-width: 50rem;
        width: 100%;

        input[type=text] {
            width: 100%;
            padding: 0.75rem 1.5rem;
            font-size: 1.25rem;
            border: white solid 0.1rem;
            border-radius: 0.25rem;
            transition: all 0.25s ease-in-out;
            
            &::placeholder {
                text-align: center;
                color: var(--text-secondary);
            }

            &:focus {
                outline: none;
                border-color: var(--border);
                box-shadow: 0 0 0 0.1rem white;
            }
        }
    }

    .icon {
        font-size: 2rem;
        color: var(--accent);

        &:hover {
            color: var(--accent-light);
        }
    }
}