// GENERAL
:root {
    text-size-adjust: 100%;
    --gray: rgb(70, 70, 70);
    --light-gray: rgb(175, 175, 175);
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: "Roboto", sans-serif;
    height: 100%;
}

#loading-screen {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
}

.icon {
    cursor: pointer;

    &:hover {
        color: var(--gray);
    }
}



// NOTE COMPONENT
.note {
    position: absolute;
    display: flex;
    flex-direction: column;
    word-break: break-all;
    background-color: white;
    border: black, solid, 0.1rem;
    border-radius: 0.5rem;
    max-width: 25rem;
    gap: 1rem;

    .toolbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 1rem 0rem 1rem;
        gap: 1rem;
        font-size: 2rem;  // For icons
      
        .icon.drag-handle {
            cursor: move;
    
            &:active {
                cursor: grabbing;
            }

            &:hover {
                color: black;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0rem 1rem 1rem 1rem;

        .title {
            text-align: center;
            font-size: 3rem;
        }
    }
}

.masthead {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 0.75rem;
    background-color: var(--gray);

    input[type=text] {
        border: black solid 0.1rem;
        border-radius: 3rem;
        padding: 0rem 1rem;
        width: 50%;
        font-size: 1.25rem;
        
        &::placeholder {
            text-align: center;
        }
    }

    .icon {
        font-size: 3rem;
        color: var(--light-gray);

        &:hover {
            color: white;
        }
    }
}